doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.min.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js')
  body
    block content
